.container {
  overflow: hidden;
  min-width: 320px;
  min-height: 80vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  background-color: white;
  border-radius: 1rem;
}
