.container {
  overflow: hidden;
  min-width: 320px;
  max-width: 100rem;
  background-image: linear-gradient(
      45deg,
      hsl(0, 24%, 96%) 25%,
      transparent 25%,
      transparent 75%,
      hsl(0, 24%, 96%) 75%,
      hsl(0, 24%, 96%)
    ),
    linear-gradient(
      45deg,
      hsl(0, 24%, 96%) 25%,
      transparent 25%,
      transparent 75%,
      hsl(0, 24%, 96%) 75%,
      hsl(0, 24%, 96%)
    );
}
