@import '../../styles/Global.module.scss';

.main {
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  height: $swiper-height;
  display: flex;
  justify-content: center;
  margin-bottom: $margin-big;
  @media (max-width: $mobile-width) {
    margin-bottom: calc(#{$margin-big} + 2rem);
  }
  padding: $margin1 0;
  z-index: 12;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: $container-max-width;
}

.card__content {
  background-color: rgba($color-black, 0.014);
  color: $color-black;
}

.info {
  padding: 0 $container-padding;
}

.title {
  color: $color-black;
}

.desc {
  color: $color-primary;
  width: 50%;
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
