.wrapper {
  position: relative;

  .back {
    font-size: xx-large;
  }

  .frame {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .link__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    .link {
      display: inline-block;
    }
  }
}
