.wrapper {
  position: relative;

  .link__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    .link {
      display: inline-block;
    }
  }
}
