$container-max-width: 1200px;
$mobile-width: 760px;
$header-height: 400px;
$swiper-height: 600px;
$color-black: rgb(0, 0, 0);
$color-primary: rgb(102, 102, 110);
$color-secondary: rgb(153, 153, 161);
$color-secondary-light: rgb(230, 230, 233);
$color-white: rgb(244, 244, 246);
$container-padding: 24px;
$margin-big: 10rem;
$margin1: 1rem;
$card-border-radius: 5px;
